{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-admin">
        <ul>
            {% for user in users %}
                <li>
                    {{ user.username }}
                    {% if user.admin == 'admin' %}
                        - ADMIN
                        {% if admin.admin == 'superadmin' %}
                            <form action="?action=deleteUser" method="POST" class="form-admin" id="form-delete-admin">
                                <input type="hidden" name="username" value="{{ user.username }}">
                                <input type="submit" value="Supprimer">
                            </form>
                        {% endif %}
                    {% elseif user.admin == 'superadmin' %}
                        - SUPERADMIN
                    {% else %}
                        <form action="?action=addAdmin" method="POST" class="form-admin" id="form-add-admin">
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <input type="submit" value="Ajouter comme admin">
                        </form>
                        <form action="?action=deleteUser" method="POST" class="form-admin" id="form-delete-user">
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <input type="submit" value="Supprimer">
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <h1>AJOUTER DES ELEMENTS</h1>
        <div>
            <h2>Ajouter une recette</h2>
            <form action="?action=addRecipe" method="POST" name="recipe-form" enctype="multipart/form-data">
                <p>Image de la recette</p>
                <input type="file" id="uploads_file" name="uploads_file" accept="image/*"><br>
                <input type="hidden" name="MAX_FILE_SIZE" value="100000000">
                <p>Nom de la recette</p>
                <input type="text" name="name_recipe"><br>
                <p>Filtre de la recette</p>
                <select name="category">
                    <option value="NULL">Sélectionnez une catégorie</option>
                    <optgroup label="Entrée">
                        <option value="starter vegan">Vegan</option>
                        <option value="starter bio">Bio</option>
                        <option value="starter gluten-free">Gluten-free</option>
                    </optgroup>
                    <optgroup label="Plat">
                        <option value="main vegan">Vegan</option>
                        <option value="main bio">Bio</option>
                        <option value="main gluten-free">Gluten-free</option>
                    </optgroup>
                    <optgroup label="Dessert">
                        <option value="dessert vegan">Vegan</option>
                        <option value="dessert bio">Bio</option>
                        <option value="dessert gluten-free">Gluten-free</option>
                    </optgroup>
                </select>
                <p>Temps de préparation (min)</p>
                <input type="number" name="preparation">
                <p>Temps de cuisson (min)</p>
                <input type="number" name="baking">
                <p>Ingrédients :</p>
                <textarea name="ingredients"></textarea><br>
                <p>Recette :</p>
                <textarea name="recipe"></textarea><br>

                <input type="submit">
            </form>
        </div>
        <hr>
        <hr>
        <div>
            <h2>Ajouter un Panier</h2>
            <form action="?action=addBasket" method="POST" name="basket-form" enctype="multipart/form-data">
                <p>Image du panier</p>
                <input type="file" id="uploads_file" name="uploads_file" accept="image/*"><br>
                <p>Prix du panier</p>
                <input type="number" name="price">
                <p>Nom du panier</p>
                <input type="text" name="name_basket">
                <p>Categorie du panier</p>
                <select name="category">
                    <option value="NULL">Sélectionnez une catégorie (si différent de Vegan)</option>
                    <option value="bio">Bio</option>
                    <option value="gluten-free">Gluten-free</option>
                    <option value="bio gluten-free">Bio et Glutten-free</option>
                </select>
                <p>Catégorie pour filtre (même que ci-dessus)</p>
                <select name="category_id">
                    <option value="NULL">Sélectionnez une catégorie</option>
                    <option value="vegan">Vegan</option>
                    <option value="bio">Bio</option>
                    <option value="gluten-free">Gluten-free</option>
                    <option value="bio_gf">Bio et Glutten-free</option>
                </select><br>
                <input type="submit">
            </form>
            <hr>
            <hr>
            <div>
                <h2>Liste des paniers</h2>
                <ul>
                    {% for basket in baskets %}
                        <li>Nom du panier : {{ basket.name }} -- Son id : {{ basket.id }}</li>
                    {% endfor %}
                </ul>
                <h2>Ajouter un ingrédient pour un panier</h2>
                <form action="?action=addIngredient" method="POST" name="ingredient-form" enctype="multipart/form-data">
                    <p>Pour ajouter un ingrédient à un panier, rentrer dans le champ en dessous l'"id" correspondant au
                        panier (voir 'Liste des paniers ci dessus')</p>
                    <input type="number" name="id_basket">
                    <p>Image de l'ingrédient :</p>
                    <input type="file" id="uploads_file" name="uploads_file" accept="image/*"><br>
                    <p>Nom de l'ingrédient</p>
                    <input type="text" name="name_ingredient">
                    <p>Description de l'ingrédient</p>
                    <input type="textarea" name="description"><br>
                    <input type="submit">
                </form>
                <br><br>
                <hr>
                <hr>
                <br><br>
                <h1>SUPPRIMER DES ELEMENTS</h1>
                <div>
                    <h2>Supprimer un panier</h2>
                    <form action="?action=deleteBasket" method="POST">
                        <p>Choissisez un panier à supprimer :</p>
                        <select name="name_delete_basket">
                            <option value="NULL">Liste des paniers</option>
                            {% for basket in baskets %}
                                <option value="{{ basket.name }}">{{ basket.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="submit">
                    </form>
                </div>
                <hr><hr>
                <div>
                    <h2>Supprimer une recette</h2>
                    <form action="?action=deleteRecipe" method="POST">
                        <p>Choissisez une recette a supprimer</p>
                        <select name="name_delete_recipe">
                            <option value="NULL">Liste des recettes</option>
                            {% for recipe in recipes %}
                                <option value="{{ recipe.name }}">{{ recipe.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="submit">
                    </form>
                </div>
                <div>
                    <h2>Supprimer un ingrédient</h2>
                    <form action="?action=deleteIngredient" method="POST">
                        <p>Choissisez un ingrédient a supprimer</p>
                        <select name="name_delete_ingredient">
                            <option value="NULL">Liste des ingrédients</option>
                            {% for ingredient in ingredients %}
                                <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}