{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-basket">
        <img src="assets/img/img_basket.png" id="basketImg">
        <div class="step" id="category">
            <table>
                <tr>
                    <td rowspan="2"><img src="assets/img/icon_category_section.png"></td>
                    <td><p>Choisissez votre <span>catégorie</span></p></td>
                </tr>
                <tr>
                    <td><p class="underTitle">Quel filtre vous convient ?</p></td>
                </tr>
            </table>
            <a href="#basket" class="category" id="vegan">
                <div class="category-names">
                    <div class="green-border"></div>
                    <div class="names">
                        <p>Vegan</p>
                    </div>
                </div>
                <div class="category-img">
                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                </div>
                <img src="assets/img/basket_category_arrow.png" alt="arrow">
                <div class="category-arrow">
                    <img src="assets/img/white_arrow_down.png" class="white-arrow-down">
                    <img src="assets/img/green_arrow_down.png" class="green-arrow-down">
                </div>
            </a>
            <a href="#basket" class="category" id="bio">
                <div class="category-names">
                    <div class="green-border"></div>
                    <div class="names">
                        <p>Vegan</p>
                        <p>Bio</p>
                    </div>
                </div>
                <div class="category-img">
                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                    <img src="assets/img/category_bio.png" alt="icon bio">
                </div>
                <img src="assets/img/basket_category_arrow.png" alt="arrow">
                <div class="category-arrow">
                    <img src="assets/img/white_arrow_down.png" class="white-arrow-down">
                    <img src="assets/img/green_arrow_down.png" class="green-arrow-down">
                </div>
            </a>
            <a href="#basket" class="category" id="gluten-free">
                <div class="category-names">
                    <div class="green-border"></div>
                    <div class="names">
                        <p>Vegan</p>
                        <p>Gluten Free</p>
                    </div>
                </div>
                <div class="category-img">
                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                    <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                </div>
                <img src="assets/img/basket_category_arrow.png" alt="arrow">
                <div class="category-arrow">
                    <img src="assets/img/white_arrow_down.png" class="white-arrow-down">
                    <img src="assets/img/green_arrow_down.png" class="green-arrow-down">
                </div>
            </a>
            <a href="#basket" class="category" id="bio_gf">
                <div class="category-names">
                    <div class="green-border"></div>
                    <div class="names">
                        <p>Vegan</p>
                        <p>Gluten Free</p>
                        <p>Bio</p>
                    </div>
                </div>
                <div class="category-img">
                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                    <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                    <img src="assets/img/category_bio.png" alt="icon bio">
                </div>
                <img src="assets/img/basket_category_arrow.png" alt="arrow">
                <div class="category-arrow">
                    <img src="assets/img/white_arrow_down.png" class="white-arrow-down">
                    <img src="assets/img/green_arrow_down.png" class="green-arrow-down">
                </div>
            </a>
        </div>
        <div class="step" id="basket">
            <div class="details-title">
                <p>Choisissez votre <span>panier</span></p>
            </div>
            <table class="tableBasket">
                <tr>
                    <td rowspan="2"><img src="assets/img/icon_basket_section.png"></td>
                    <td><p>Choisissez votre <span>panier</span></p></td>
                </tr>
                <tr>
                    <td><p class="underTitle">De quelle humeur êtes-vous ?</p></td>
                </tr>
            </table>

            {% for basket in baskets %}
                <a href="#details" class="basket {{ basket.category_id }}" id="paniers">
                    <img src="{{ basket.img }}" alt="basket">
                    <div class="desc_basket {{ basket.category }}" id="{{ basket.id }}">
                        <div class="popButtons">
                            <div><img src="assets/img/heart_red.png"></div>
                            <div><img src="assets/img/open_modal.png"></div>
                        </div>
                        <img src="{{ basket.img }}">
                        <p class="basketPrice">{{ basket.price }}</p>
                        <p class="name">{{ basket.name }}</p>
                        <div>
                            <div class="category-img">
                                {% if 'glutten-free' in basket.category %}
                                    <div class="category-indicator category-gluten-free">Gluten Free</div>
                                {% endif %}
                                {% if 'bio' in basket.category %}
                                    <div class="category-indicator category-bio">Bio</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="step" id="details">
                <div class="details-title">
                    <p>Détails de votre <span>panier</span></p>
                </div>
                <table class="tableBasket">
                    <tr>
                        <td rowspan="2"><img src="assets/img/icon_basket_infos.png"></td>
                        <td><p>Détails de votre <span>panier</span></p></td>
                    </tr>
                    <tr>
                        <td><p class="underTitle">De quelle humeur êtes-vous ?</p></td>
                    </tr>
                </table>
                <p class="click-basket click-basket-mobile">Cliquez sur un panier pour voir ses ingrédients.</p>
                <div id="allIngredients">
                    <p><span>Les ingré</span>dients</p>
                    <p class="click-basket click-basket-desktop">Cliquez sur un panier pour voir ses ingrédients.</p>
                    {% for ingredient in ingredients %}
                        <div class="ingredient {{ ingredient.id_basket }}">
                            <img src="{{ ingredient.img }}" alt="carot">
                            <div class="ingredient-desc">
                                <p class="ingredient-name">{{ ingredient.name }}</p>
                                <p class="ingr-text-desc">description</p>
                                <p class="ingredient-text">
                                    {{ ingredient.description }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}