{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-home">
        <div class="presentation">
            <img src="assets/img/soja_flou.png" alt="soja picture">
            <div>
                <p>
                    <span>Découvrez :</span>
                    Comment convertir votre liste de courses
                </p>
                <p>
                    How to Vegan est un outil qui vous permet de convertir automatiquement
                    votre liste de courses traditionnelle en liste de courses vegan.
                    Vous pouvez également ajouter les filtres "bio" et/ou "gluten free" à
                    votre sélection et épingler votre liste pour la retrouver dans votre
                    profil.
                </p>
                <a href="?action=convert">Essayez l'outil conversion</a>
            </div>
        </div>
        <ul class="rslides">
            <li><img src="assets/img/list_carousel_1.png" alt="carousel-list"></li>
            <li><img src="assets/img/list_carousel_2.png" alt="carousel-list"></li>
            <li><img src="assets/img/list_carousel_3.png" alt="carousel-list"></li>
            <li><img src="assets/img/list_carousel_4.png" alt="carousel-list"></li>
        </ul>
        <div class="spotlight-type" id="spotlight-type-basket">
            <div class="spotlight-title">
                <img src="assets/img/icon_basket.png" alt="icon basket">
                <div>
                    <p>découvrez nos <span>paniers types</span></p>
                    <p>Le guide du petit vegan</p>
                </div>
            </div>
            <div class="spotlight-container-basket">
                {% for basket in baskets %}
                    <div class="spotlight-container-img-basket">
                        <div class="spotlight-frame">
                            <img class="spotlight-img" src="{{ basket.img }}" alt="frame picture">
                            <p class="price">{{ basket.price }}&euro;</p>
                            <p class="name"><span>{{ basket.name }}</span></p>
                            <div>
                                <div class="container-category-indicator">
                                    {% if 'bio' in basket.category %}
                                        <div class="category-indicator category-bio">Bio</div>
                                    {% endif %}
                                    {% if 'gluten-free' in basket.category %}
                                        <div class="category-indicator category-gluten-free">Gluten Free</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="?action=basket">
                <div class="input-discover">
                    <p>Découvrez tous nos paniers</p>
                    <img src="assets/img/arrow_red.png" alt="red arrow">
                </div>
            </a>
        </div>
        <img src="assets/img/leaf_right_side.png" alt="leaf picture" id="leaf-side" class="blur">
        <div class="spotlight-type" id="spotlight-type-recipe">
            <div class="spotlight-title blur">
                <img src="assets/img/icon_recipe.png" alt="icon recipe">
                <div>
                    <p>découvrez nos <span>recettes</span></p>
                    <p>sélection de la semaine</p>
                </div>
            </div>
            <div class="spotlight-container-recipe">
                {% for recipe in recipes %}
                    <div class="spotlight-container-img spotlight-recipe blur">
                        <img class="spotlight-img" src="{{ recipe.img }}" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">{{ recipe.name }}</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    {% if 'gluten-free' in recipe.category %}
                                        <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                    {% endif %}
                                    {% if 'bio' in recipe.category %}
                                        <img src="assets/img/category_bio.png" alt="icon bio">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> {{ recipe.preparation }}min</p>
                                <p><span>Cuisson:</span> {{ recipe.baking }}min</p>
                                <p><span>Total:</span> {{ recipe.preparation + recipe.baking }}min</p>
                            </div>
                            <a href="#modal-{{ recipe.id }}" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div id="modal-{{ recipe.id }}" class="modal">
                        <div class="modal-block" >
                            <a class="close" href="#main-home">
                                <img src="assets/img/back_modal.png" alt="Fermer" title="Fermer la fenêtre" class="btn-in-modal btn-close">
                            </a>
                            <form action="?action=crush" method="POST">
                                <input type="hidden" name="id_recipe" value="{{ recipe.id }}">
                                <input type="hidden" name="name" value="{{ recipe.name }}">
                                <input type="image" src="assets/img/heart_modal.png" alt="Aimer" title="Aimer cette recette" class="btn-in-modal btn-crush">
                            </form>
                            <div class="modal-img">
                                <img src="{{ recipe.img }}" alt="{{ recipe.img }}">
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm">
                                    <p><span>Préparation</span> : {{ recipe.preparation }}min</p>
                                    <p><span>Cuisson</span> : {{ recipe.baking }}min</p>
                                    <p><span>Total</span> : {{ recipe.preparation + recipe.baking }}min</p>
                                </div>
                            </div>
                            <div class="modal-content">
                                <div class="modal-title">
                                    <h2>{{ recipe.name }}</h2>
                                    <div class="kitchen">
                                        <div class="chief">
                                            <img src="assets/img/chief.png" alt="chief icon">
                                            <div>
                                                <p class="proposed-by">Proposé par</p>
                                                <p class="author">Le staff</p>
                                            </div>
                                        </div>
                                        <div class="category-img">
                                            <img src="assets/img/category_vegan.png" alt="icon vegan">
                                            {% if 'gluten-free' in recipe.category %}
                                                <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                            {% endif %}
                                            {% if 'bio' in recipe.category %}
                                                <img src="assets/img/category_bio.png" alt="icon bio">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-desc">
                                    <div class="ingredients">
                                        <h3>Ingrédients</h3>
                                        <hr>
                                        <p>{{ recipe.ingredients }}</p>
                                    </div>
                                    <div class="recipe">
                                        <h3>Recette</h3>
                                        <hr>
                                        <p>{{ recipe.recipe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="?action=recipe">
                <div class="input-discover">
                    <p>Découvrez toutes nos recettes</p>
                    <img src="assets/img/arrow_red.png" alt="red arrow">
                </div>
            </a>
        </div>
    </main>
{% endblock %}