{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-recipe">
        <div class="filters blur">
            <h3>Filtrer par</h3>
            <div class="form-filters">
                <form id="filter-submit">
                    <div class="filter-type" id="filter-in-order">
                        <h3>Type de recette :</h3>
                        <div class="checkbox-container">
                            <div class="checkbox">
                                <input type="checkbox" value="starter" name="myFilters" id="starter">
                                <div class="checkbox-frame"></div>
                                <label for="starter" class="filter-js">Entrée</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" value="main" name="myFilters" id="main">
                                <div class="checkbox-frame"></div>
                                <label for="main" class="filter-js">Plat</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" value="dessert" name="myFilters" id="dessert">
                                <div class="checkbox-frame"></div>
                                <label for="dessert" class="filter-js">Dessert</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-type" id="filter-by-category">
                        <h3>Préférence alimentaire :</h3>
                        <div class="checkbox-container">
                            <div class="checkbox">
                                <input type="checkbox" value="vegan" name="myFilters" id="vegan">
                                <div class="checkbox-frame"></div>
                                <img src="assets/img/category_vegan.png" alt="vegan icon">
                                <label for="vegan" class="filter-js">Vegan</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" value="bio" name="myFilters" id="bio">
                                <div class="checkbox-frame"></div>
                                <img src="assets/img/category_bio.png" alt="vegan icon">
                                <label for="bio" class="filter-js">Bio</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" value="gluten-free" name="myFilters" id="gluten-free">
                                <div class="checkbox-frame"></div>
                                <img src="assets/img/category_gluten_free.png" alt="vegan icon">
                                <label for="gluten-free" class="filter-js">Gluten free</label>
                            </div>
                        </div>
                    </div>
                </form>
                <button id="submit">OK</button>
            </div>
        </div>
        <div class="spotlight-type" id="spotlight-type-recipe">
            <div class="recipe-presentation blur">
                <h3>Découvrez <span>nos recettes</span></h3>
                <p>
                    Proposées par la communauté How to Vegan ou par le staff,
                    les recettes ci-dessous sont conçues spécialement pour vous,
                    en fonction de vos préférences alimentaires.
                    <br>
                    Sélectionnez les filtres selon vos envies et enfilez votre tablier !
                </p>
                {% if user.username is defined and user.username is not empty %}
                    <a href="?action=profile#favorite-content" class="see-your-favorite frame-elt">
                        Accéder à vos recettes favorites
                    </a>
                {% endif %}
            </div>
            <div class="spotlight-container-recipe">
                {% for recipe in recipes %}
                    <div class="spotlight-container-img spotlight-recipe blur {{ recipe.category }}">
                        <div class="spotlight-img" style="background-image: url('{{ recipe.img }}');"></div>
                        <div class="container-desc">
                            <p class="recipe-title">{{ recipe.name }}</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    {% if 'gluten-free' in recipe.category %}
                                        <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                    {% endif %}
                                    {% if 'bio' in recipe.category %}
                                        <img src="assets/img/category_bio.png" alt="icon bio">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> {{ recipe.preparation }}min</p>
                                <p><span>Cuisson:</span> {{ recipe.baking }}min</p>
                                <p><span>Total:</span> {{ recipe.preparation + recipe.baking }}min</p>
                            </div>
                            <a href="#modal-{{ recipe.id }}" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div id="modal-{{ recipe.id }}" class="modal">
                        <div class="modal-block" >
                            <a class="close" href="#main-recipe">
                                <img src="assets/img/back_modal.png" alt="Fermer" title="Fermer la fenêtre" class="btn-in-modal btn-close">
                            </a>
                            <form action="?action=crush" method="POST">
                                <input type="hidden" name="id_recipe" value="{{ recipe.id }}">
                                <input type="hidden" name="name" value="{{ recipe.name }}">
                                <input type="image" src="assets/img/heart_modal.png" alt="Aimer" title="Aimer cette recette" class="btn-in-modal btn-crush">    
                            </form>
                            <div class="modal-img">
                                <img src="{{ recipe.img }}" alt="{{ recipe.img }}">
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm">
                                    <p><span>Préparation</span> : {{ recipe.preparation }}min</p>
                                    <p><span>Cuisson</span> : {{ recipe.baking }}min</p>
                                    <p><span>Total</span> : {{ recipe.preparation + recipe.baking }}min</p>
                                </div>
                            </div>
                            <div class="modal-content">
                                <div class="modal-title">
                                    <h2>{{ recipe.name }}</h2>                
                                    <div class="kitchen">
                                        <div class="chief">
                                            <img src="assets/img/chief.png" alt="chief icon">
                                            <div>
                                                <p class="proposed-by">Proposé par</p>
                                                <p class="author">Le staff</p>
                                            </div>
                                        </div>
                                        <div class="category-img">
                                            <img src="assets/img/category_vegan.png" alt="icon vegan">
                                            {% if 'gluten-free' in recipe.category %}
                                                <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                            {% endif %}
                                            {% if 'bio' in recipe.category %}
                                                <img src="assets/img/category_bio.png" alt="icon bio">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-desc">
                                    <div class="ingredients">
                                        <h3>Ingrédients</h3>
                                        <hr>
                                        <p>{{ recipe.ingredients|raw }}</p>
                                    </div>
                                    <div class="recipe">
                                        <h3>Recette</h3>
                                        <hr>
                                        <p>{{ recipe.recipe|raw }}</p>
                                    </div>
                                </div>
                                <!--
                                <div class="modal-comments">
                                    <h3>Commentaires</h3>
                                    <hr>
                                    <div class="comment">
                                        <p>Jean Pierre D.</p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                            Minima blanditiis architecto temporibus odio illum saepe dolorum, pariatur.
                                        </p>
                                    </div>
                                    <div class="comment">
                                        <p>Jean Pierre D.</p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                            Minima blanditiis architecto temporibus odio illum saepe dolorum, pariatur.
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-similars">
                                    <h3>Recettes similaires</h3>
                                    <hr>
                                    <div class="spotlight-container-recipe">
                                        <div class="spotlight-container-img spotlight-recipe">
                                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                                            <div class="container-desc">
                                                <p class="recipe-title">Gâteau coco</p>
                                                <div class="kitchen">
                                                    <div class="recipe-author">
                                                        <img src="assets/img/chief.png" alt="chief icon">
                                                        <div>
                                                            <p class="proposed-by">Proposé par</p>
                                                            <p class="author">Le staff</p>
                                                        </div>
                                                    </div>
                                                    <div class="category-img">
                                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                                    <p><span>Prep:</span> 15min</p>
                                                    <p><span>Cuisson:</span> 30min</p>
                                                    <p><span>Total:</span> 45min</p>
                                                </div>
                                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                                            </div>
                                        </div>
                                        <div class="spotlight-container-img spotlight-recipe">
                                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                                            <div class="container-desc">
                                                <p class="recipe-title">Gâteau coco</p>
                                                <div class="kitchen">
                                                    <div class="recipe-author">
                                                        <img src="assets/img/chief.png" alt="chief icon">
                                                        <div>
                                                            <p class="proposed-by">Proposé par</p>
                                                            <p class="author">Le staff</p>
                                                        </div>
                                                    </div>
                                                    <div class="category-img">
                                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                                    <p><span>Prep:</span> 15min</p>
                                                    <p><span>Cuisson:</span> 30min</p>
                                                    <p><span>Total:</span> 45min</p>
                                                </div>
                                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                                            </div>
                                        </div>
                                        <div class="spotlight-container-img spotlight-recipe">
                                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                                            <div class="container-desc">
                                                <p class="recipe-title">Gâteau coco</p>
                                                <div class="kitchen">
                                                    <div class="recipe-author">
                                                        <img src="assets/img/chief.png" alt="chief icon">
                                                        <div>
                                                            <p class="proposed-by">Proposé par</p>
                                                            <p class="author">Le staff</p>
                                                        </div>
                                                    </div>
                                                    <div class="category-img">
                                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                                    <p><span>Prep:</span> 15min</p>
                                                    <p><span>Cuisson:</span> 30min</p>
                                                    <p><span>Total:</span> 45min</p>
                                                </div>
                                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                                            </div>
                                        </div>
                                        <div class="spotlight-container-img spotlight-recipe">
                                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                                            <div class="container-desc">
                                                <p class="recipe-title">Gâteau coco</p>
                                                <div class="kitchen">
                                                    <div class="recipe-author">
                                                        <img src="assets/img/chief.png" alt="chief icon">
                                                        <div>
                                                            <p class="proposed-by">Proposé par</p>
                                                            <p class="author">Le staff</p>
                                                        </div>
                                                    </div>
                                                    <div class="category-img">
                                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                                    <p><span>Prep:</span> 15min</p>
                                                    <p><span>Cuisson:</span> 30min</p>
                                                    <p><span>Total:</span> 45min</p>
                                                </div>
                                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <img src="assets/img/leaf_left_side.png" alt="leaf picture" id="leaf-side" class="lol blur">
    </main>
{% endblock %}