{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-recipe">
        <div class="filters">
            <h3>Filtrer par</h3>
            <div>
                <div class="filter-type" id="filter-in-order">
                    <h3>Type de recette :</h3>
                    <div class="checkbox-container">
                        <div class="checkbox">
                            <input type="checkbox" value="Entrée" id="starter">
                            <div class="checkbox-frame"></div>
                            <label for="starter">Entrée</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Plat" id="main">
                            <div class="checkbox-frame"></div>
                            <label for="main">Plat</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Dessert" id="dessert">
                            <div class="checkbox-frame"></div>
                            <label for="dessert">Dessert</label>
                        </div>
                    </div>
                </div>
                <div class="filter-type" id="filter-by-category">
                    <h3>Préférence alimentaire :</h3>
                    <div class="checkbox-container">
                        <div class="checkbox">
                            <input type="checkbox" value="Vegan" id="vegan">
                            <div class="checkbox-frame"></div>
                            <img src="assets/img/category_vegan.png" alt="vegan icon">
                            <label for="vegan">Vegan</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Bio" id="bio">
                            <div class="checkbox-frame"></div>
                            <img src="assets/img/category_bio.png" alt="vegan icon">
                            <label for="bio">Bio</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Gluten-free" id="gluten-free">
                            <div class="checkbox-frame"></div>
                            <img src="assets/img/category_gluten_free.png" alt="vegan icon">
                            <label for="gluten-free">Gluten free</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spotlight-type" id="spotlight-type-recipe">
            <div class="recipe-presentation">
                <h3>Découvrez <span>nos recettes</span></h3>
                <p>
                    Proposées par la communauté How to Vegan ou par le staff,
                    les recettes ci-dessous sont conçues spécialement pour vous,
                    en fonction de vos préférences alimentaires.
                    <br><br>
                    Sélectionnez les filtres selon vos envies et enfilez votre tablier !
                </p>
            </div>
            <ul class="rslides">
                <li class="spotlight-container-recipe">
                    {% for recipe in recipes %}
                        <div class="spotlight-container-img spotlight-recipe">
                            <img class="spotlight-img" src="{{ recipe.img }}" alt="frame picture">
                            <div class="container-desc">
                                <p class="recipe-title">{{ recipe.name }}</p>
                                <div class="kitchen">
                                    <div class="recipe-author">
                                        <img src="assets/img/chief.png" alt="chief icon">
                                        <div>
                                            <p class="proposed-by">Proposé par</p>
                                            <p class="author">Le staff</p>
                                        </div>
                                    </div>
                                    <div class="category-img">
                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                        {% if 'gluten-free' in recipe.category %}
                                            <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                        {% endif %}
                                        {% if 'bio' in recipe.category %}
                                            <img src="assets/img/category_bio.png" alt="icon bio">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                    <p><span>Prep:</span>{{ recipe.preparation }}min</p>
                                    <p><span>Cuisson:</span>{{ recipe.baking }}min</p>
                                    <p><span>Total:</span>{{ recipe.preparation + recipe.baking }}min</p>
                                </div>
                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                            </div>
                        </div>
                    {% endfor %}
                </li>
                <li class="spotlight-container-recipe">
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/seitan.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Seitan façon poulet tikka massala</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                    <img src="assets/img/category_bio.png" alt="icon bio">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Gâteau coco</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                </li>
                <li class="spotlight-container-recipe">
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/seitan.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Seitan façon poulet tikka massala</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                    <img src="assets/img/category_bio.png" alt="icon bio">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Gâteau coco</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/seitan.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Seitan façon poulet tikka massala</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    <img src="assets/img/category_gluten_free.png" alt="icon gluten free">
                                    <img src="assets/img/category_bio.png" alt="icon bio">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                    <div class="spotlight-container-img spotlight-recipe">
                        <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                        <div class="container-desc">
                            <p class="recipe-title">Gâteau coco</p>
                            <div class="kitchen">
                                <div class="recipe-author">
                                    <img src="assets/img/chief.png" alt="chief icon">
                                    <div>
                                        <p class="proposed-by">Proposé par</p>
                                        <p class="author">Le staff</p>
                                    </div>
                                </div>
                                <div class="category-img">
                                    <img src="assets/img/category_vegan.png" alt="icon vegan">
                                </div>
                            </div>
                            <div class="time">
                                <img src="assets/img/alarm.png" alt="alarm icon">
                                <p><span>Prep:</span> 15min</p>
                                <p><span>Cuisson:</span> 30min</p>
                                <p><span>Total:</span> 45min</p>
                            </div>
                            <a href="#modal-recipe" class="open-modal">Voir plus</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <img src="assets/img/leaf_left_side.png" alt="leaf picture" id="leaf-side">
    </main>
    <div id="modal-recipe" class="modal">
        <div class="modal-block" >
            <a class="close" href="#main-recipe">
                <img src="assets/img/back_modal.png" alt="Fermer" title="Fermer la fenêtre" class="btn-in-modal btn-close">
            </a>
            <img src="assets/img/heart_modal.png" alt="Aimer" title="Aimer cette recette" class="btn-in-modal btn-crush">
            <div class="modal-img">
                <img src="assets/img/cake_modal.png" alt="cake">
                <div class="time">
                    <img src="assets/img/alarm.png" alt="alarm">
                    <p><span>Préparation</span> : 15min</p>
                    <p><span>Cuisson</span> : 30min</p>
                    <p><span>Total</span> : 45min</p>
                </div>
            </div>
            <div class="modal-content">
                <div class="modal-title">
                    <h2>Muffins double chocolat et beurre de cacahuètes</h2>                
                    <div class="kitchen">
                        <div class="chief">
                            <img src="assets/img/chief.png" alt="chief icon">
                            <div>
                                <p class="proposed-by">Proposé par</p>
                                <p class="author">Le staff</p>
                            </div>
                        </div>
                        <div class="category">
                            <img src="assets/img/category_vegan.png" alt="vegan">
                            <img src="assets/img/category_gluten_free.png" alt="gluten free">
                        </div>
                    </div>
                </div>
                <div class="modal-desc">
                    <div class="ingredients">
                        <h3>Ingrédients</h3>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, consequatur qui.
                            Tempora explicabo fugit, repudiandae expedita nam velit ex labore consequatur perspiciatis
                            autem officia aliquam itaque nesciunt dignissimos ipsam corporis.
                        </p>
                    </div>
                    <div class="recipe">
                        <h3>Recette</h3>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quibusdam ipsam autem placeat rem nostrum, repellendus neque quasi aspernatur,
                            molestias, soluta et accusamus, assumenda quae quisquam veritatis fugiat vitae
                            perferendis! Amet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quibusdam ipsam autem placeat rem nostrum, repellendus neque quasi aspernatur,
                            molestias, soluta et accusamus, assumenda quae quisquam veritatis fugiat vitae
                            perferendis! Amet.
                        </p>
                    </div>
                </div>
                <div class="modal-comments">
                    <h3>Commentaires</h3>
                    <hr>
                    <div class="comment">
                        <p>Jean Pierre D.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Minima blanditiis architecto temporibus odio illum saepe dolorum, pariatur.
                        </p>
                    </div>
                    <div class="comment">
                        <p>Jean Pierre D.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Minima blanditiis architecto temporibus odio illum saepe dolorum, pariatur.
                        </p>
                    </div>
                </div>
                <div class="modal-similars">
                    <h3>Recettes similaires</h3>
                    <hr>
                    <div class="spotlight-container-recipe">
                        <div class="spotlight-container-img spotlight-recipe">
                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                            <div class="container-desc">
                                <p class="recipe-title">Gâteau coco</p>
                                <div class="kitchen">
                                    <div class="recipe-author">
                                        <img src="assets/img/chief.png" alt="chief icon">
                                        <div>
                                            <p class="proposed-by">Proposé par</p>
                                            <p class="author">Le staff</p>
                                        </div>
                                    </div>
                                    <div class="category-img">
                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    </div>
                                </div>
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                    <p><span>Prep:</span> 15min</p>
                                    <p><span>Cuisson:</span> 30min</p>
                                    <p><span>Total:</span> 45min</p>
                                </div>
                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                            </div>
                        </div>
                        <div class="spotlight-container-img spotlight-recipe">
                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                            <div class="container-desc">
                                <p class="recipe-title">Gâteau coco</p>
                                <div class="kitchen">
                                    <div class="recipe-author">
                                        <img src="assets/img/chief.png" alt="chief icon">
                                        <div>
                                            <p class="proposed-by">Proposé par</p>
                                            <p class="author">Le staff</p>
                                        </div>
                                    </div>
                                    <div class="category-img">
                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    </div>
                                </div>
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                    <p><span>Prep:</span> 15min</p>
                                    <p><span>Cuisson:</span> 30min</p>
                                    <p><span>Total:</span> 45min</p>
                                </div>
                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                            </div>
                        </div>
                        <div class="spotlight-container-img spotlight-recipe">
                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                            <div class="container-desc">
                                <p class="recipe-title">Gâteau coco</p>
                                <div class="kitchen">
                                    <div class="recipe-author">
                                        <img src="assets/img/chief.png" alt="chief icon">
                                        <div>
                                            <p class="proposed-by">Proposé par</p>
                                            <p class="author">Le staff</p>
                                        </div>
                                    </div>
                                    <div class="category-img">
                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    </div>
                                </div>
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                    <p><span>Prep:</span> 15min</p>
                                    <p><span>Cuisson:</span> 30min</p>
                                    <p><span>Total:</span> 45min</p>
                                </div>
                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                            </div>
                        </div>
                        <div class="spotlight-container-img spotlight-recipe">
                            <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                            <div class="container-desc">
                                <p class="recipe-title">Gâteau coco</p>
                                <div class="kitchen">
                                    <div class="recipe-author">
                                        <img src="assets/img/chief.png" alt="chief icon">
                                        <div>
                                            <p class="proposed-by">Proposé par</p>
                                            <p class="author">Le staff</p>
                                        </div>
                                    </div>
                                    <div class="category-img">
                                        <img src="assets/img/category_vegan.png" alt="icon vegan">
                                    </div>
                                </div>
                                <div class="time">
                                    <img src="assets/img/alarm.png" alt="alarm icon">
                                    <p><span>Prep:</span> 15min</p>
                                    <p><span>Cuisson:</span> 30min</p>
                                    <p><span>Total:</span> 45min</p>
                                </div>
                                <a href="#modal-recipe" class="open-modal">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}